body{
    margin: 29px;
    width: 1205px;
   
}

div{
    float: left
}
.header
{  
    width: 100%;
    height:auto;
}
.logo
{
    
    width: 100%;;
    height: 100%;
}
.imgl{
       width:20%;
       height:50%;
}
.name
{  font-family: arial;
    padding-left:5px;
    padding-top: 30px;  
    font-size: 22px;
    color: #505050;
    unicode-bidi: isolate;
}

.search
{    
    padding-top: 52px;
    margin-left: 255px;
}
.searchsize
{
   padding-left: 5px;
    border: 1px solid #b02923;
    
    height: 28px;
    
}
.searchsize:hover
{
    border-color: black;
}
.searchbutton
{  border:none;
    border-color: #b02923;
    margin-left: 2px;
    background-color:#b02923;
    color: aliceblue;
    border-style: solid;
    height: 28px;
   
}
.topics{
    width: 1205px; 
}

.topicul
{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color:black ;
    padding-left: 20px;
     
}
.topics
{
    width: 1190px; 
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:black ;
    padding-left: 15px;
 
    text-decoration: none;
     
}
.suptopics a{
    display: block;
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 14px;
    margin-right: 30px;
    text-decoration: none;
 padding: 8px;

}
.suptopics:hover
{
    background-color:#b02923 ;
}

.list
{    
    display:none;
    position:absolute;
    padding-top:1px;
    width:250px;
    
   
}
.list a{
    text-decoration: none;
    display: block;
    background-color:  #9e1e18;
    padding: 8px;
     text-align: left;
    color: white;
    border-bottom: 1px dotted #ef6f69;
    
}
.suptopics:hover .list
{
    display: grid;
}
.list a:hover
{
    background-color:#b02923;
}


#line {
    height: 20px;
    width: 1205px;
}
#line1 {
    background-color: #e29b9a;
    height: 1px;
    width: 1205px;
}
.buttom
{
    padding-left:50px;
}

.buttom a,.buttom1 a
{
    text-decoration: none;
    display: block;
    font-family: arial;
    padding: 3px;
    color: #505050;
    border-bottom: 1px dotted #878484;
    Font-size: 11px;
    width:153px;
}
.print
{
    background-color:#1d1d1d;;
    color: #909090;
    width: 1175px;
    Font-size: 11px;
    font-family: arial;
    padding-left: 30px; 
}
.firstimg{
    margin-top:2px;
    width:1205px;
    background-color:#b02923; 
    height: 200px;
    text-align: center;
}
.k
{

    padding-top: 80px;
    padding-left: 70px;
   float:left;
    color: white;
    font-family: Arial;
    font-size: 19px;

}
.fi{
    margin-top: -102px;
    padding-left: 285px;
}
.home{
    background-color:rgb(219, 219, 219);
    width : 100%;
    margin-top:2px;
}

.home1 
{
    font-family: Arial;
    font-size: 12px;
    color:#505050;
    text-decoration: none;
    padding-left: 40px;
    
}
.home1:hover
{
    color: #1d1d1d;
}
.k
{
    text-align: center;
}
.ABOUTUS
{
    margin-top: 2px;
}
.home2
{
    font-family: Arial;
    font-size: 12px;
    color:#505050;
    text-decoration: none;
}

.aboutlist
{
    width: 285px;
    background-color: rgb(219, 219, 219);
    height:627px;
}
.aboutlist a
{   
    padding-top:7px;
    padding-bottom: 5px;
    padding-left: 30px;
    text-decoration: none;
    display:block;
    color: #505050;
    font-size: 12px;
    font-family: Arial;
    border-bottom: 1px dotted #878484;
    
}
.text
{
    padding:9px;
  margin: 1px;
  height:fit-content;
  width: 900px;
  font-family: Arial;
 
}
.text p{
    font-family: Arial;
    color: #505050;
    font-size: 15px;
}
.text header{
    color:#b02923;
    font-family: Arial;
}

.aboutlist a:hover
{
    color: #1d1d1d;
}
.buttom a:hover,.buttom1 a:hover{
    color:#b02923 ;
}